@mixin overlay($dir : right, $grad1 : #fff0, $grad2 : #000000db) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to $dir, $grad1, $grad2);
}
